* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
}

#goalsContainer {
  width: 90%;
  margin: 3vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vh;
  place-items: center;
}

#goalsContainer #wrap {
  width: 60%;
  margin: auto;
  cursor: pointer;
  padding: 2.5vh;
  display: flex;
  flex-direction: column;
}

#goalsContainer #logo {}

#goalsContainer h2 {
  text-align: center;
  font-size: 2.5vh;
}

#popUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

#detailInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 30%;
  background: white;
  transform: translate(-50%, -50%);
}

#detailInfo span {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 3vh;
  color: black;
  cursor: pointer;
}

.toggleShow {
  display: block !important;
}